<!DOCTYPE html>
<html>
  <head>
    <title>ParsoTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= react_component("TopBar") %>
    <div id="wrapper">
       <%= react_component("SideBar") %>
      <div id="page-content-wrapper">
        <div class="container-fluid mt-3">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
