<!DOCTYPE html>
<html>
  <head>
    <title>ParsoTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTUhPCIxNnIYg0Uq4_qy80pkvXS_xAUc0" async defer></script>
  </head>

  <body>
     <div class="container">
	     <%= yield %>
      </div>
  </body>
</html>
